#mapa {
    width: 100%;
    height: 300px;
}

.post-posicion {
    background-color: #ffffff;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
    margin-bottom: 5px;
}

.post-posicion-100 {
    height: 100px;
}

.post-posicion-300 {
    height: 310px;
}

.packages-count .full {
    width: 100%;
}

.packages-count .full .column {
    float: left;
    width: 20%;
    padding: 10px 0;
    box-sizing: border-box;
}

.packages-count .full .column {
    border: solid 1px #ddd;
}

.packages-count .full .column.active {
    background-color: #202F42;
    color: #ffffff;
}

.packages-count .img-container {
    text-align: center;
}

.packages-count .img-container img {
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.packages-count .text-container {
    padding: 10px 0;
}

.packages-count .count {
    font-size: 20px;
    padding: 5px 0;
}

.address-block {
    margin-bottom: 30px;
}

.categoria-icon-container {
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 0.5px;
}

.text-red {
    color: red;
}

.user-form-operador-only {
    display: none;
}