.whatsapp {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    /*padding: 10px;*/
    margin: 5px;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    background-color: green;
    position: fixed;
    right: 80px;
    bottom: 30px;
    z-index: 9999;
    box-shadow: 0 0 14px #000;
}