.themesflat-container {
    max-width: 100%;
}

.menu-has-search.menu-has-cart #site-header #main-nav {
    right: 0;
}

.quem-somos-american-title {
    text-align: center;
    margin-bottom: 40px;
}

#facts {
    background-color: #2C2986;
    background-image: unset;
}

.facts-icon img {
    height: 87px;
}

#pricing {
    background-color: #2C2986;
}

#pricing .price-table-price {
    background-color: #ffffff;
    color: #000000;
    min-height: 450px;
}

#pricing .price-wrap .figure {
    color: #2c2986;
}

#pricing .price-wrap .figure .red {
    color: red;
}

#pricing .bolsa {
    max-height: 370px;
}

#pricing .price-dolars {
    font-size: 40px;
    line-height: normal;
}

#pricing .col-md-4,
#pricing .themesflat-price-table {
    height: 385px;
}

#pricing ul {
    padding: 10px 0;
    list-style-type: none;
}

#footer {
    background-color: #2C2986;
}

#footer-social-networks .item {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
    background-color: #b1b1b1;
}

#footer-social-networks .item i.fa {
    color: #2c2986;
}

.whatsapp {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 5px;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    background-color: green;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999;
    box-shadow: 0 0 14px #000;
}

#hero-slideshow .heading.font-weight-700.letter-spacing--2 {
    color: #2c2986;
}

#facts-acordion .panel-heading {
    cursor: pointer;
    background-color: #2c2986;
    color: #ffffff;
}

#trackings_consolidados {
    display: none;
}

.header-style-9 #site-header {
    background-color: #fff;
}

.header-style-9 #main-nav>ul>li>a, .header-style-9 #site-header .header-search-icon, .header-style-9 #site-header .nav-top-cart-wrapper .nav-cart-trigger {
    color: #3d4095;
}