<template>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="header">
                    <div class="row">
                        <div class="col-md-6">
                            Código o Tracking number:
                            <input v-model="search" class="form-control" autofocus @keydown.enter="addPackage" />
                            <button class="btn btn-primary" @click="addPackage">Agregar a lista</button>
                        </div>
                        <div class="col-md-6">
                            Fecha de inicio de búsqueda:
                            <input type="date" v-model="searchFrom" class="form-control" />
                            Fecha de límite de búsqueda:
                            <input type="date" v-model="searchTo" class="form-control" />
                            Buscar paquetes con estado:
                            <select v-model="searchEstado" class="form-control">
                                <option v-for="(estado, estadoId) in estados" :key="estadoId" :value="estadoId">{{ estado }}
                                </option>
                            </select>
                            Buscar paquetes con wh:
                            <input v-model="searchWh" class="form-control" />
                            <button class="btn btn-primary" @click="findPaquetesByDate">Buscar y agregar a lista</button>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <form @submit.prevent="updateEstado">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Descripción</th>
                                    <th>Código</th>
                                    <th>Tracking</th>
                                    <th>Peso (gramos)</th>
                                    <th>Volumen</th>
                                    <th>Precio/KG</th>
                                    <th>Precio total</th>
                                    <th>Estado actual</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody id="paquetes">
                                <tr v-if="paquetes.length === 0" class="empty-row">
                                    <td colspan="8" style="text-align:center; padding: 20px 0;">
                                        <i>Ningún paquete seleccionado aún</i>
                                    </td>
                                </tr>
                                <tr v-for="(paquete, index) in paquetes" :key="paquete.id">
                                    <input type="hidden" v-model="id_paquete">
                                    <td>
                                        <span>
                                            {{ paquete.usuario.sucursal.prefix }} {{ paquete.usuario.casilla }} - {{
                                            paquete.usuario.name }} {{ paquete.usuario.last_name }}
                                        </span>
                                        <div class="mt-2">
                                            <button class="btn btn-warning" @click="selectUser(index, paquete.id)" data-toggle="modal" data-target="#userSelectionModalTest">
                                                Asignar usuario
                                            </button>
                                        </div>
                                    </td>
                                    <td>{{ paquete.descripcion }}</td>
                                    <td>{{ paquete.codigo }}</td>
                                    <td>{{ paquete.tracking }}</td>
                                    <td>
                                        <input type="number" v-model="paquete.gramos" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="number" v-model="paquete.volumen" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="number" v-model="paquete.precio_kg" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="number" v-model="paquete.precio_fijo" class="form-control" step="0.01" />
                                    </td>
                                    <td>{{ estados[paquete.estado] }}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" @click="deletePackage(paquete)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <select v-model="selectedEstado" class="form-control">
                                <option v-for="(estado, estadoId) in estados" :key="estadoId" :value="estadoId">
                                    {{ estado }}
                                </option>
                            </select>
                            <p>
                                <label>
                                    <input type="checkbox" v-model="sendInvoice" /> Enviar Invoice por formulario (solo al
                                    seleccionar estado "En OFICINA")
                                </label>
                            </p>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary">Cambiar estado</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="userSelectionModalTest" tabindex="-1" role="dialog" aria-labelledby="userSelectionModalTestTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Lista de usuarios</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" v-model="searchUser" class="form-control" placeholder="Buscar...">
                        <ul class="list-group">
                            <button v-for="(usuario, id) in usuarios" :key="id" class="list-group-item" @click="assignUser(id, usuario)">
                                {{ usuario }}
                            </button>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
import { ref } from 'vue';
export default {
    data() {
        return {
            search: '',
            searchFrom: '',
            searchTo: '',
            searchEstado: '',
            searchWh: '',
            paquetes: [],
            id_paquete: [],
            selectedEstado: '',
            sendInvoice: false,
            selectedId: '',
            paqueteSelectedId: '',
            usuarios: [],
            estados: [],
            searchUser: '',
        };
    },
    computed: {
        filteredUsers() {
            console.log('Texto de búsqueda:', this.searchUser);
            return this.usuarios.filter(usuario => usuario.includes(this.searchUser));
        }
    },
    methods: {
        async findPaquetesByDate() {
            try {
                const response = await axios.get('/admin/paquetes/buscar-ajax-multi', {
                    params: {
                        from: this.searchFrom,
                        to: this.searchTo,
                        estado: this.searchEstado,
                        wh: this.searchWh
                    }
                });
                const paquetesMultiAjax = response.data;
                if(paquetesMultiAjax.length == 0){
                    Swal.fire({
                        title: 'Busqueda',
                        text: 'No se ha encontrado ningún paquete con los datos ingresados.',
                        icon: 'info',
                    });
                    return;
                }
                paquetesMultiAjax.forEach(paquete => {
                    if (!this.paquetes.find(p => p.id === paquete.id)) {
                        this.paquetes.push(paquete);
                        this.id_paquete.push(paquete.id);
                        this.search = '';
                        this.searchWh = '';
                        this.searchFrom = '';
                        this.searchTo = '';
                        this.searchEstado = '';
                        console.log(this.paquetes, this.id_paquete);
                    } else {
                        console.log('Paquete se encuentra en lista');
                    }
                });
                // this.paquetes = response.data;
            } catch (error) {
                console.error(error);
            }
        },
        async addPackage() {
            try {
                const response = await axios.get('/admin/paquetes/buscar-ajax', {
                    params: {
                        search: this.search
                    }
                });
                if (response.data) {
                    if (this.paquetes.length === 1 && this.paquetes[0].empty) {
                        this.paquetes = [];
                    }
                    const paquete = response.data;
                    if (!this.paquetes.find(p => p.id === paquete.id)) {
                        this.paquetes.push(paquete);
                        this.id_paquete.push(paquete.id);
                        this.search = '';
                        this.searchWh = '';
                        this.$nextTick(() => {
                            const lastIndex = this.paquetes.length - 1;
                            this.$refs.gramos[lastIndex].focus();
                        });
                        console.log(this.paquetes, this.id_paquete);
                    } else {
                        Swal.fire({
                            title: 'Uups!. Ha ocurrido un error',
                            text: 'El paquete ya se encuentra en la lista',
                            icon: 'error',
                        });
                    }
                } else {
                    $('#buzz')[0].play();
                }
            } catch (error) {
                console.error(error);
            }
        },
        selectUser(index, paqueteId) {
            this.selectedId = index;
            this.paqueteSelectedId = paqueteId;
        },
        async assignUser(id, user) {
            if (this.selectedId === '' || this.paqueteSelectedId === ''){
                return;
            }
            try {
                await axios.post('/admin/paquetes/change-user-paquete', {
                    packageId: this.paqueteSelectedId,
                    userPackageId: id
                })
                .then( (response ) => {
                    if(response.data.status == '200'){
                        this.paquetes[this.selectedId].usuario.id = id;
                        this.paquetes[this.selectedId].usuario.name = user;
                        console.log('OK');
                    }
                })
                .catch((error) => {
                    Swal.fire({
                        title: 'Uups!. Ha ocurrido un error',
                        text: 'No se pudo asignar otro usuario.',
                        icon: 'error',
                    });
                })
            } catch (error) {
                Swal.fire({
                    title: 'Uups!. Ha ocurrido un error',
                    text: `${error}`,
                    icon: 'error',
                });
            }
        },
        async updateEstado() {
            try {
                console.log(this.selectedEstado, this.sendInvoice ? 1 : 0, this.paquetes.map(p => p.id));
                await axios.post('/admin/paquetes/update-estado', {
                    estado: this.selectedEstado,
                    email: this.sendInvoice ? 1 : 0,
                    paquetes: this.paquetes.map(p => p.id),
                    id_paquete: this.id_paquete
                })
                .then( (response) => {
                    if ( response.data.status === '200'){
                        Swal.fire({
                            title: 'Estado Actualizado',
                            text: `${response.data.msg}`,
                            icon: 'success',
                        });
                        this.paquetes = [];
                        this.id_paquete = [];
                    }
                })
                .catch((error) => {
                    Swal.fire({
                        title: 'Uups!. Ha ocurrido un error',
                        text: `${error}`,
                        icon: 'error',
                    });
                });
                // if (response.status === 200) {
                // }
            } catch (error) {
                Swal.fire({
                    title: 'Uups!. Ha ocurrido un error',
                    text: `${error}`,
                    icon: 'error',
                });
            }
        },
        deletePackage(paquete) {
            Swal.fire({
                title: '¿Quieres borrar este paquete de la lista?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: 'Eliminar',
                denyButtonText: `Cancelar`,
            }).then((result) => {
                if (result.isConfirmed) {
                    const index = this.paquetes.indexOf(paquete);
                    if (index !== -1) {
                        this.paquetes.splice(index, 1);
                        this.id_paquete.splice(index, 1);
                    }
                    console.log(this.paquetes, this.id_paquete);
                    Swal.fire('Hecho!', 'Paquete Eliminado!', 'success')
                }
            })
        },
        async getDataPaquete(){
            try {
                await axios.get('/admin/paquetes/data-paquete')
                .then((response) => {
                    this.estados = response.data.estados;
                    this.usuarios = response.data.usuarios;
                    console.log(this.estados);
                })
                .catch( error => {
                    console.log(error);
                });
            } catch (error) {
                console.log(error);
            }
        }
    },
    mounted() {
        this.getDataPaquete();
        // this.$refs.myForm.addEventListener('keydown', this.handleEnter);
    },
};
</script>